<!DOCTYPE html>
<html>
<head>
  <title>reg</title>
</head>
<body>
<h1>Registration</h1><hr>
<form action="/registration" method="post">
  Имя пользователя: <input type="text" name="name"><br><br>
  Фамилия: <input type="text" name="lastname"><br><br>
  Эл. почта: <input type="email" name="email"><br><br>
  Пароль: <input type="password" name="password"><br><br>
  <input type="hidden" name="_csrf" value="${_csrf.token}">
  <input type="submit" value="Зарегистрироваться"/>
</form>
</body>
</html>